<div class="page-header">
  <h1>Test1s</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newTestTest1sPath() %>" class="btn btn-primary">Create New Test1</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Field1</th>
    <th>Field2</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (test1) in test1s { %>
      <tr>
      <td><%= test1.Field1 %></td>
        <td><%= test1.Field2 %></td>
        <td>
          <div class="pull-right">
            <a href="<%= testTest1Path({ test_test1_id: test1.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTestTest1Path({ test_test1_id: test1.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= testTest1Path({ test_test1_id: test1.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
