<div class="page-header">
  <h1>Tests</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newTestsPath() %>" class="btn btn-primary">Create New Test</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Field1</th>
    <th>Field2</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (test) in tests { %>
      <tr>
      <td><%= test.Field1 %></td>
        <td><%= test.Field2 %></td>
        <td>
          <div class="pull-right">
            <a href="<%= testPath({ test_id: test.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editTestPath({ test_id: test.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= testPath({ test_id: test.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
